{% extends "base.jinja" %}
{% block title %}Prescriptions{% endblock %}
{% block content %}
<h2 class="text-xl font-bold mb-4">Prescribe Medication</h2>
<p>Fill out and send digital prescriptions.</p>
{% endblock %}
