<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1 class="text-3xl">INDEX PAGE</h1>

    <header class="flex flex-row">
        <section>
            Logo
        </section>
        <ul>
            <li>services</li>
            <li>about</li>
            <li>something</li>
            
        </ul>
        <section>
            <button type="button">
                log in
            </button>
        </section>
    </header>

</body>
</html>
